IDENTIFICACION CON JOYSTICK/FUN_RPM.m
IDENTIFICACION CON JOYSTICK/NONLINEAR_IDENTIFICATION.asv
IDENTIFICACION CON JOYSTICK/propulsiveModel.m
IDENTIFICACION CON JOYSTICK/propulsiveParameters.mat
IDENTIFICACION CON JOYSTICK/model/propulsiveParameters.mat
IDENTIFICACION CON JOYSTICK/model/untitled.slx.autosave
IDENTIFICACION CON JOYSTICK/model/untitled1.slx.autosave
